<nav class="navbar navbar-expand-sm bg-warning navbar-light">

  <div class="container-fluid">
    <a class="navbar-brand text-bold" routerLink="/welcome">
      <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo" width="40">
      <span class="text-uppercase">ngular Quiz</span>
    </a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Quiz</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><b>Results</b></a>
      </li>
    </ul>
  </div>

</nav>